<a href="https://colab.research.google.com/github/pvzinn/bd-2022-1-bia/blob/main/dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Drive com datasets: https://drive.google.com/drive/folders/1mnipUTsVHkwxGxmUqxDTdXuhbiwpiDq1?usp=sharing

Inspirado em: https://towardsdatascience.com/a-beginners-guide-to-text-classification-with-scikit-learn-632357e16f3a

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Separando datasets a serem usados

In [3]:
# olha o pandas ai gente, importando bibliotecas
import pandas as pd

df_review = pd.read_csv('/content/drive/MyDrive/dataset/df.csv')
df_review.head()

   Unnamed: 0                                             review sentiment
0       20000  I have Never forgot this movie. All these year...  positive
1       20001  Let me start by saying overall I enjoyed The L...  positive
2       20002  Paris, JE T'AIME is a wondrous cinematic homag...  positive
3       20003  This is, without a doubt, one of my favorite C...  positive
4       20004  This movie set out to be better than the avera...  positive

In [4]:
df_review.columns

Index(['Unnamed: 0', 'review', 'sentiment'], dtype='object')

In [5]:
df_positive = df_review[df_review['sentiment']=='positive'][:9000]
df_negative = df_review[df_review['sentiment']=='negative'][:1000]

df_review_imb = pd.concat([df_positive, df_negative])

# Manipulando os dados

In [6]:
# Como existem mais positivos que negativos;
from imblearn.under_sampling import  RandomUnderSampler

rus = RandomUnderSampler(random_state=0)
df_review_bal, df_review_bal['sentiment']=rus.fit_resample(df_review_imb[['review']],
                                                           df_review_imb['sentiment'])

In [7]:
length_negative = len(df_review[df_review['sentiment']=='negative'])
df_review_positive = df_review[df_review['sentiment']=='positive'].sample(n=length_negative)
df_review_non_positive = df_review[~(df_review['sentiment']=='positive')]

df_review_bal = pd.concat([
    df_review_positive, df_review_non_positive
])
df_review_bal.reset_index(drop=True, inplace=True)
df_review_bal['sentiment'].value_counts()

positive    5000
negative    5000
Name: sentiment, dtype: int64

In [8]:
df_review_bal

      Unnamed: 0                                             review sentiment
0          23527  Peter Lorre was born to play Stephen Danel wit...  positive
1          24497  I was hugely impressed with this movie, if for...  positive
2          23244  I loved this movie - the actors were wonderful...  positive
3          20623  When I was in 10th grade me and my buddy were ...  positive
4          21912  James Joyce, arguably, could write some of the...  positive
...          ...                                                ...       ...
9995       29995  It SURPRISINGLY had a plot! ;) I've seen movie...  negative
9996       29996  I suppose I'm supposed to take something like ...  negative
9997       29997  This is strictly for Pryor fans. Just because ...  negative
9998       29998  The only saving grace of this movie is that it...  negative
9999       29999  This may contain ***SPOILERS***<br /><br />Whe...  negative

[10000 rows x 3 columns]

In [9]:
# reduzindo o número de dados
df_review_bal.drop(df_review_bal.index[0:20000], inplace=True)

df_review_bal

Empty DataFrame
Columns: [Unnamed: 0, review, sentiment]
Index: []

In [10]:
df_review_bal.drop(df_review_bal.index[10000:30000], inplace=True)

In [11]:
df_review_bal['sentiment'].value_counts()

Series([], Name: sentiment, dtype: int64)

In [12]:
df_review_bal.reset_index()
df_review_bal

Empty DataFrame
Columns: [Unnamed: 0, review, sentiment]
Index: []

In [13]:
from google.colab import files

df_review_bal.to_csv('df.csv')

In [14]:
# files.download('df.csv')
!cp df.csv "drive/My Drive/"